/dts-v1/;

/ {
    jetson-header-name = "Jetson 40pin Header";
    overlay-name = "Pin 7 gpio bidirectional";
    compatible = "nvidia,p3768-0000+p3767-0000\0nvidia,p3768-0000+p3767-0001\0nvidia,p3768-0000+p3767-0003\0nvidia,p3768-0000+p3767-0004\0nvidia,p3768-0000+p3767-0005\0nvidia,p3768-0000+p3767-0000-super\0nvidia,p3768-0000+p3767-0001-super\0nvidia,p3768-0000+p3767-0003-super\0nvidia,p3768-0000+p3767-0004-super\0nvidia,p3768-0000+p3767-0005-super\0nvidia,p3509-0000+p3767-0000\0nvidia,p3509-0000+p3767-0001\0nvidia,p3509-0000+p3767-0003\0nvidia,p3509-0000+p3767-0004\0nvidia,p3509-0000+p3767-0005";

    fragment@0 {
        target = <0xffffffff>;

        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <0x01>;

            exp-header-pinmux {
                phandle = <0x01>;

                hdr40-pin7 {
                    nvidia,pins = "soc_gpio59_pac6";
                    // nvidia,function = "rsvd";    // When in GPIO mode, there is no Special Function (SFIO)
                    nvidia,tristate = <0x00>;     // Disable tristate
                    nvidia,enable-input = <0x01>; 
                    nvidia,pull = <0x00>;         // Pull-down
                };
            };
        };
    };

    fragment@1 {
        target = <0xffffffff>;

        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <0x02>;

            exp-header-pinmux {
                phandle = <0x02>;
            };
        };
    };

    __symbols__ {
        jetson_io_pinmux = "/fragment@0/__overlay__/exp-header-pinmux";
        jetson_io_pinmux_aon = "/fragment@1/__overlay__/exp-header-pinmux";
    };

    __fixups__ {
        pinmux = "/fragment@0:target:0";
        pinmux_aon = "/fragment@1:target:0";
    };

    __local_fixups__ {

        fragment@0 {

            __overlay__ {
                pinctrl-0 = <0x00>;
            };
        };

        fragment@1 {

            __overlay__ {
                pinctrl-0 = <0x00>;
            };
        };
    };
};
